{% extends '_base.html' %}
{% load static %}

{% block title %}
    Inbox
{% endblock title %}
    
{% block content %}
<div class="container bootstrap snippets bootdeys">
    <div class="row">
            <div class="box">
                <div class="mail-box">
                    <aside class="sm-side">
                        <div class="inbox-body">

                        </div>
                        <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action ">
                            Questions
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">Answers</a>
                        </div>
                    </aside>
                    <aside class="lg-side">
                    <div class="inbox-body">
                    <div class="mail-option">
                        index
                        <div class="btn-group">
                        </div>
                        <ul class="unstyled inbox-pagination">
                            <li><span> Page{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>
                            <li>
                                {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}" class="np-btn"><i class="fa fa-angle-left  pagination-left"></i></a>
                                {% endif %}
                            </li>
                            <li>
                                {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}" class="np-btn"><i class="fa fa-angle-right pagination-right"></i></a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                    <table class="table table-inbox table-hover">
                        
                        <div class="list-group">
                            
                            {% for q in questions %}
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                  <h5 class="mb-1">{{q.question}}</h5>
                                  <small>{{q.date|date:"d-m h:i"}}</small>
                                </div>
                                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                <small>Click to Answer</small>
                              </a>
                            {% endfor %}
                          </div>
                    </table>
                    <tbody>
                    </div>
                    </aside>
                </div>
    </div>
    </div>
{% endblock content %}
    