.mail-box {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.mail-box aside {
  display: table-cell;
  float: none;
  height: 100%;
  padding: 0;
  vertical-align: top;
}

.mail-box .sm-side {
  width: 25%;
  background: #ecf0f1;
  border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
}

.inbox-body {
  padding: 20px;
}

.btn-compose {
  background: #9b59b6;
  padding: 12px 0;
  text-align: center;
  width: 100%;
  color: #fff;
}

ul.inbox-pagination {
  float: right;
  list-style: none;
}

ul.inbox-pagination li {
  float: left;
}

.mail-option {
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
}

.inbox-pagination a.np-btn {
  border: 1px solid #e7e7e7;
  padding: 5px 15px;
  display: inline-block;
  background: #fcfcfc;
  color: #afafaf;
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
}

.inbox-pagination a.np-btn {
  margin-left: 5px;
}

.inbox-pagination li span {
  display: inline-block;
  margin-top: 7px;
  margin-right: 5px;
}
